{% extends "base.html" %}
{% block content %}
    <h1>Тестовое задание для Python девелопера</h1>
	<h2 id="context">Содержание</h2>
	<ol>
		<ul class="ul-level-1">
			<li><a href="#context">Содержание</a></li>
			<li><a href="#goal">Цель тестового задания</a></li>
			<li><a href="#task">Задание</a></li>
			<li><a href="#requirements">Дополнительные требования</a></li>
			<li><a href="#knowledge">Дополнительные знания</a></li>
		</ul>
	</ol>
	<h2 id="goal">Цель тестового задания</h2>
	<p>Определить возможную динамику самообучения кандидата. А так же глубину понимания кода, реализующего тестовое задание.</p>
	<h2 id="task">Задание</h2>
	<p>Написать тестовое web-приложение по управлению электронной библиотекой:</p>
	<ol>
		<ul class="ul-level-1">
			<li><a href="{{url_for('admin')}}">Редактирование</a> (доступно авторизованному пользователю при наличии аутентификации):</li>
			<ul class="ul-level-2">
				<li>Управление списком книг: добавить / удалить / редактировать книгу.</li>
				<li>Управление списком авторов: добавить / удалить / редактировать автора.</li>
				<li>Запись о книге содержит следующие данные:</li>
				<ul class="ul-level-3">
					<li>ID</li>
					<li>Название</li>
				</ul>
				<li>Запись об авторе содержит следующие данные:</li>
				<ul class="ul-level-3">
					<li>ID</li>
					<li>Имя</li>
				</ul>
				<li>Связь между книгами и авторами - многие ко многим.</li>
			</ul>
			<li><a href="{{url_for('search')}}">Поиск книг</a> по названию либо автору (доступно анонимному пользователю при наличии аутентификации).</li>
			<li><a href="{{url_for('authentication')}}">Аутентификации и авторизация</a> (по желанию кандидата).</li>
		</ul>
	</ol>
	<p>Технологии, которые должны быть задействованы:</p>
	<ol>
		<ul class="ul-level-1">
			<li>Flask</li>
			<li>SQLAlchemy (Declarative)</li>
			<li>SQLite (встроенный в приложение)</li>
			<li>Jinja2 Templates</li>
			<li>WTForms</li>
			<li>jQuery (желательно, но возможно использование альтернативных решений)</li>
		</ul>
	</ol>
	<p>Список может быть расширен по усмотрению кандидата, но с обязательным использованием технологий, перечисленных выше.</p>
	<h2 id="requirements">Дополнительные требования</h2>
	<p>Список дополнительных требований следующий:</p>
	<ol>
		<ul class="ul-level-1">
			<li>Код проекта должен быть доступен на сервисе <a href="http://github.org" target="_blank">GitHub</a> или <a href="http://bitbucket.org" target="_blank">BitBucket</a>.</li>
			<li>Проект должен содержать SQL-скрипты для развертывания базы данных и наполнения ее тестовыми данными.</li>
			<li>Пользовательские данные должны валидироваться перед сохранением в БД.</li>
		</ul>
	</ol>
	<h2 id="knowledge">Дополнительные знания</h2>
	<p>Дополнительные знания, необходимые при защите проекта:</p>
	<ol>
		<ul class="ul-level-1">
			<li>HTTP</li>
			<li>WSGI</li>
			<li>SQL, Transactions, Transaction Isolation Levels</li>
			<li>SQLAlchemy</li>
			<li>Уязвимости веб-сайтов</li>
			<li>User Experience</li>
		</ul>
	</ol>
{% endblock %}